<!-- <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong class="app-title">Daily Planet</strong> by <a href="https://github.com/ShahbaazX786"><span class="author-name">Shaik Shahbaaz Alam</span></a>.
      <br><br>
      The website content
      is open sourced and hosted on <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Github</a>.
      Feel free to copy my code and build personal projects with your personal touch.
    </p>
  </div>
</footer>
 -->

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">Daily Planet Inc &copy; 2022</p>


    <a href="/"
    class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <img src="../../../../assets/logos/dp-color.png" alt="logo" class="footer-img">
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a routerLink="" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a routerLink="about" class="nav-link px-2 text-muted">About</a></li>
      <li class="nav-item"><a routerLink="contact" class="nav-link px-2 text-muted">Contact</a></li>
      <li class="nav-item"><a routerLink="Docs" class="nav-link px-2 text-muted">Docs</a></li>
      <li class="nav-item"><a routerLink="report" class="nav-link px-2 text-muted">Report</a></li>
    </ul>
  </footer>
</div>

