<img class="bgimg" src="../../../../assets/Images/bg.jpg" alt="bg">
<div class="title">Today's Top Headlines </div>
  <div class="container2">
    <div class="cardd" *ngFor="let item of HeadLinesArray">
      <a [href]="item.url" target="_blank">
        <mat-card class="example-card">
          <img class="thumb" [src]="item.urlToImage" alt="thumbnail">
          <p class="title">{{item.title}}</p>
          <mat-card-content>
            <p class="desc">{{item.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <a [href]="item.url" target="_blank"><button mat-button>Read More</button></a>
          </mat-card-actions>
        </mat-card>
      </a>
  </div>
</div>
