.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box{
  padding: 1% 5% 0% 5%;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.logo{
  width: 50%;
  height: 10vh;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email{
  width: 100%;
  margin: 2% 0;
}
