<div class="container">
  <div class="box">
    <img class="logo" src="../../../../assets/logos/dp-color.png" alt="logo">
    <h2>Any suggestion/Queries? then feel free to drop me a message</h2>
      <div class="email">
        <input type="email" class="form-control email" id="floatingInput" placeholder="Your Email Here">
        <textarea class="form-control txt-area" id="exampleFormControlTextarea1" rows="7"  placeholder="Drop Your Message Here"></textarea>
      </div>
      <button class="btn btn-md btn-primary" type="submit">Send it away!</button>
  </div>

</div>
