<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <img src="../../../../assets/logos/dp-color.png" width="150px" alt="logo" class="navbar-brand" routerLink="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Others
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="contact">Contact us</a></li>
            <li><a class="dropdown-item" routerLink="pnff">Temporary page</a></li>
            <li><a class="dropdown-item" routerLink="docs">Documentation</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="report">Report an issue here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
