.navbar{
  box-shadow: rgba(149, 157, 165, 0.1) 0px 1px 1px;
}

.navbar-toggler{
  font-size: 1rem;
}

.navbar-toggler:focus{
  color: rgb(230, 230, 230);
  transition: all 0.2s ease-in-out;
}


/*
.shadow{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 2px;
} */
